<!DOCTYPE html>
<html>
<head>
    <title>Plum | My Projects</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div class="row headerWrap">
        <div class="twelve columns">
            <div class="eight columns">
                <div class="header">
                    <span class="logo">Plum</span>
                    <span class="tag">awesome coding.</span>
                </div>
            </div>
            <div class="three columns">
                <div class="btn"> + Create Project</div>
            </div>
        </div>
    </div>
    <div class="row">
        <li class="projectBox"><div class="projectName">Project A</div></li>
        <li class="projectBox"><div class="projectName">Project B</div></li>
    </div>
    <script type="text/javascript" src="../js/common.js" />
</body>
</html>